*~
.*~
.DS_Store
analytical/minimal-systems-extend8-mutant1/
analytical/enumeration/*species*/
numericalAnalysis/bistableMotif/bistableMotif_randomSamplingParameters*/
numericalAnalysis/bistableMotif/samplingResults/
